<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @profile.display_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @profile.dob %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender.name %>
</p>

<p>
  <strong>Image:</strong>
  <% if @profile.image.present? %>
    <%= image_tag @profile.image.url %>
  <% else %>
    'No photo'
  <% end %>
</p>

