<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Expense Tracker', root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li <%= 'class=active' if request.url == root_url %> >
          <%= link_to 'Home', root_url %>
        </li>
        <li <%= 'class=active' if request.url == budgets_url %> >
          <%= link_to 'Budgets', budgets_url %>
        </li>
        <li <%= 'class=active' if request.url == incomes_url %> >
          <%= link_to 'Incomes', incomes_url %>
        </li>
        <li <%= 'class=active' if request.url == savings_url %> >
          <%= link_to 'Savings', savings_url %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= render 'layouts/nav_bar/signed_in' %>
        <% else %>
          <%= render 'layouts/nav_bar/not_signed_in' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
