<%= form_for(budget) do |f| %>
  <% if budget.errors.any? %>
    <div id='error_explanation'>
      <h3><%= pluralize(budget.errors.count, 'error') %> prohibited from being saved.</h>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', autofocus: true %>
    <%= f.error_message_for(:title) %>
  </div>

  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :original_amount %>
    <%= f.number_field :original_amount, class: 'form-control', min: 0 %>
    <%= f.error_message_for(:original_amount) %>
  </div>

  <div class='form-group'>
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: 'form-control', readonly: true, data: { provide: 'datepicker', date_format: 'dd M yyyy' } %>
    <%= f.error_message_for(:start_date) %>
  </div>

  <div class='form-group'>
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: 'form-control', readonly: true, data: { provide: 'datepicker', date_format: 'dd M yyyy' } %>
    <%= f.error_message_for(:end_date) %>
  </div>

  <div class='form-group'>
    <%= f.label :remaining_amount %>
    <%= f.number_field :remaining_amount, class: 'form-control', min: 0 %>
    <%= f.error_message_for(:remaining_amount) %>
  </div>

  <div class='form-group'>
    <%= f.label :extra_used_amount %>
    <%= f.number_field :extra_used_amount, class: 'form-control', min: 0 %>
    <%= f.error_message_for(:extra_used_amount) %>    
  </div>

  <div class='centered'>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-info' %>
  </div>
<% end %>
