<%= render 'shared/title', title: "Detail of #{@budget.title}" %>

<table class='table table-condensed table-hover table-responsive'>
  <tbody>
    <tr>
      <th>Title </th>
      <td><%= @budget.title %></td>
    </tr>

    <tr>
      <th>Description </th>
      <td><%= @budget.description %></td>
    </tr>

    <tr>
      <th>Start date </th>
      <td><%= @budget.start_date %></td>
    </tr>

    <tr>
      <th>End date </th>
      <td><%= @budget.end_date %></td>
    </tr>

    <tr>
      <th>Original amount </th>
      <td><%= number_with_delimiter(@budget.original_amount) %></td>
    </tr>

    <tr>
      <th>Remaining amount </th>
      <td><%= number_with_delimiter(@budget.remaining_amount) %></td>
    </tr>

    <tr>
      <th>Extra used amount </th>
      <td><%= number_with_delimiter(@budget.extra_used_amount) %></td>
    </tr>

    <tr>
      <td colspan='2' class='centered'>
        <%= link_to 'Edit', edit_budget_path(@budget), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', budget_path(@budget), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <%= link_to 'Back', :back, class: 'btn btn-info' %>
      </td>
    </tr>
  </tbody>
</table>

<%= line_chart @budget.expenses.group_by_day(:spent_date).sum(:amount) %>

<%# result = {} %>
<%# @budget.expenses.all.map do |expense| %>
  <%# result[expense.spent_date] = result[expense.spent_date].nil? ? expense.amount : result[expense.spent_date] + expense.amount %>
<%# end %>
<%#= column_chart result %>
