= render 'shared/title', title: "Detail of #{@budget.title}"
%table.table.table-condensed.table-hover.table-responsive
  %tbody
    %tr
      %th Title
      %td= @budget.title
    %tr
      %th Description
      %td= @budget.description
    %tr
      %th Start date
      %td= @budget.start_date
    %tr
      %th End date
      %td= @budget.end_date
    %tr
      %th Original amount
      %td= number_with_delimiter(@budget.original_amount)
    %tr
      %th Remaining amount
      %td= number_with_delimiter(@budget.remaining_amount)
    %tr
      %th Extra used amount
      %td= number_with_delimiter(@budget.extra_used_amount)
    %tr
      %td.centered{:colspan => "2"}
        = link_to 'Edit', edit_budget_path(@budget), class: 'btn btn-warning'
        = link_to 'Destroy', budget_path(@budget), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
        = link_to 'Back', :back, class: 'btn btn-info'
= line_chart @budget.expenses.group_by_day(:spent_date).sum(:amount)
