<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Expense Tracker', root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li <%= 'class=active' if request.url == root_url %> >
          <%= link_to 'Home', root_url %>
        </li>
        <li <%= 'class=active' if request.url == budgets_url %> >
          <%= link_to 'Budgets', budgets_url %>
        </li>
        <li <%= 'class=active' if request.url == incomes_url %> >
          <%= link_to 'Incomes', incomes_url %>
        </li>
        <li <%= 'class=active' if request.url == savings_url %> >
          <%= link_to 'Savings', savings_url %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= form_tag search_path, class: 'navbar-form', method: :get do %>
              <div class = 'form-group'>
                <div class='input-group input-group-sm'>
                  <%= text_field_tag :q, nil, placeholder: 'Search', class: 'form-control' %>
                    <div class='input-group-btn'>
                      <%= button_tag class: 'btn btn-default' do %>
                        <i class='glyphicon glyphicon-search'></i>
                      <% end %>
                    </div>
                </div>
              </div>
            <% end %>
          </li>
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              <%= image_tag current_user.profile.image[:small_thumb].url, id: 'nav-bar-profile-image', class: 'img-responsive img-circle' %>
              <%= current_user.profile.display_name %>
              <span class='caret'></span>
            </a>
            <ul class='dropdown-menu'>
              <li <%= 'class=active' if request.url == edit_user_profile_url(current_user, current_user.profile) %>>
                <%= link_to edit_user_profile_url(current_user, current_user.profile) do %>
                  <span class="glyphicon glyphicon-edit"></span> Edit Profile
                <% end %>
              </li>
              <li <%= 'class=active' if request.url == edit_user_registration_url %>>
                <%= link_to edit_user_registration_url do %>
                  <span class="glyphicon glyphicon-edit"></span> Edit Account
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span> Logout
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li <%= 'class=active' if request.url == new_user_registration_url %>>
            <%= link_to new_user_registration_url do %>
              <span class="glyphicon glyphicon-user"></span> Sign Up
            <% end %>
          </li>
          <li <%= 'class=active' if request.url == new_user_session_url %>>
            <%= link_to new_user_session_url do %>
              <span class="glyphicon glyphicon-log-in"></span> Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
