<%= form_for(income) do |f| %>
  <% if income.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(income.errors.count, 'error') %> prohibited this income from being saved:</h2>

      <ul>
      <% income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', autofocus: true %>
    <%= f.error_message_for(:title) %>
  </div>

  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
    <%= f.error_message_for(:description) %>
  </div>

  <div class='form-group'>
    <%= f.label :amount %>
    <%= f.number_field :amount, class: 'form-control', min: 0 %>
    <%= f.error_message_for(:amount) %>
  </div>

  <div class='form-group'>
    <%= f.label :received_date %>
    <%= f.text_field :received_date, class: 'form-control', readonly: true, data: { provide: 'datepicker', date_format: 'dd M yyyy' } %>
  </div>

  <div class='form-group'>
    <%= f.label :frequency_id %>
    <%= f.select :frequency_id, Frequency.all.collect{|f| [f.name, f.id]}, {}, { class: 'form-control' } %>
  </div>

  <div class='centered'>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-info' %>
  </div>
<% end %>
