= render 'shared/title', title: 'Incomes'
%table.table.table-hover
  %thead
    %tr
      %th Title
      %th Amount
      %th Received date
      %th Frequency
      %th{:colspan => "3"}
        %div{:style => "text-align: right;"}
          = link_to 'Add new income', new_income_path, target: 'blank', class: 'btn btn-primary'
  %tbody
    - @incomes.each do |income|
      %tr
        %td= income.title
        %td= number_with_delimiter(income.amount)
        %td= income.received_date
        %td= income.frequency.name
        %td
          = link_to 'Show', income, class: 'btn btn-primary'
          = link_to 'Edit', edit_income_path(income), class: 'btn btn-success'
          = link_to 'Destroy', income, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
.centered
  = will_paginate(@incomes, :renderer => WillPaginate::ActionView::LinkRenderer, class: 'pagination-lg')
