<%= render 'shared/title', title: 'Log in' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class='form-group'>
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true %>
  </div>

  <div class='form-group'>
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
  </div>


  <div class='form-group'>
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %><br/>
    <% end %>
    <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to 'Forgot your password?', new_password_path(resource_name) %><br />
    <% end %>
  </div>

  <div class='centered'>
    <%= f.submit 'Login', class: 'btn btn-primary' %>
    <%= link_to 'Sign up', new_user_registration_url, class: 'btn btn-info' %>
  </div>
<% end %>
