= form_for [budget, expense] do |f|
  - if expense.errors.any?
    #error_explanation
      %h2
        = pluralize(expense.errors.count, 'error')
        prohibited expense from being saved:
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', autofocus: true
    = f.error_message_for :title
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :amount
    = f.number_field :amount, class: 'form-control', min: 0
    = f.error_message_for :amount
  .form-group
    = f.label :spent_date
    = f.text_field :spent_date, class: 'form-control', readonly: true, data: { provide: 'datepicker', date_format: 'dd M yyyy' }
    = f.error_message_for :spent_date
  .centered
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Back', :back, class: 'btn btn-info'
