<div class='title'>
  <h1>Expenses</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th><%= sortable 'amount' %></th>
      <th><%= sortable 'spent_date' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.title.truncate(30) %></td>
        <td><%= expense.description.truncate(20) %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.spent_date %></td>
        <td>
          <%= link_to 'Show', budget_expense_path(@budget, expense), class: "btn btn-info" %>
          <%= link_to 'Edit', edit_budget_expense_path(@budget, expense), class: "btn btn-warning" %>
          <%= link_to 'Destroy', budget_expense_path(@budget, expense), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="centered">
  <%= will_paginate(@expenses, :renderer => WillPaginate::ActionView::LinkRenderer, class: 'pagination pagination-lg') %>
</div>
<br>
<%= link_to 'New Expense', new_budget_expense_path(@budget) %>
