<%= render 'shared/title', title: "Detail of #{@expense.title}" %>

<p>
  <strong>Title:</strong>
  <%= @expense.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Spent date:</strong>
  <%= @expense.spent_date %>
</p>

<%= link_to 'Edit', edit_budget_expense_path(@budget, @expense) %> |
<%= link_to 'Back', budget_expenses_path(@budget) %>
