= form_with(model: gender, local: true) do |form|
  - if gender.errors.any?
    #error_explanation
      %h2
        = pluralize(gender.errors.count, "error")
        prohibited this gender from being saved:
      %ul
        - gender.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :gender_name
  .actions
    = form.submit
