<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='wrapper'>
		  <%= render 'shared/nav_bar' %>
      <% if current_page?(budgets_path) %>
        <div class='budgets-container content'>
      <% else %>
        <div class='container content'>
      <% end %>
        <p class='notice'><%= notice %></p>
        <p class='alert'><%= alert %></p>
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>
	  </div>
  </body>
</html>
